# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
.settings
.classpath
.project
bin
gradlew.bat
gradlew
build.gradle
settings.gradle
.gitattributes
